/*---------------------------------whole document------------------------------------*/
/*typography*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@700&display=swap");
:root {
  --letter-prin: "Montserrat", sans-serif;
  --letter-sec: "Raleway", sans-serif;
}
body {
  font-family: var(--letter-prin);
}
