/*---------------------------------whole document------------------------------------*/
/*typography*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@700&display=swap");
:root {
  --letter-prin: "Montserrat", sans-serif;
  --letter-sec: "Raleway", sans-serif;
  --color-sec: #e60026;
  --color-third: #7cdf64;
}
body {
  font-family: var(--letter-prin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95vh;
}

/*---------------------------------MAIN------------------------------------*/
main {
  width: 90vw;
  margin: 0 auto;
  flex: 1 0 70%;
}
.prin-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--letter-sec);
  font-size: 1.3em;
}
.prin-title > h1 {
  font-size: 1.5em;
  padding: 2em 0 1em;
  font-weight: 700;
}
.prin-title p {
  font-size: small;
  font-style: italic;
  line-height: 1.3em;
}

.prin-options {
  /* border-top: 1px solid var(--color-sec); */
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  font-weight: 600;
}
.prin-options p {
  padding-bottom: 0.5em;
  cursor: pointer;
}

.prin-display {
  margin-top: 1em;
}
.display-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.add-input {
  flex: 0 0 50%;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid var(--color-sec);
  outline: none;
  padding: 0.5em;
}
.add-input:focus {
  border-bottom: 2px solid var(--color-third);
}
.add-label {
  border-radius: 10px;
  cursor: pointer;
  flex: 0 0 10%;
  padding: 0.5em 1em;
  background-color: var(--color-third);
  text-align: center;
}
.display-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.3em;
  padding: 0 0.5em;
}
.display-info div {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}
.display-info .btn-aside {
  justify-content: flex-end;
  margin-top: 1em;
}
.display-info .btn-aside p {
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: var(--color-third);
  font-size: 0.9em;
}
.display-info div span label {
  padding: 0 0 0 0.5em;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: var(--color-sec);
}
.selected {
  border-bottom: 3px solid var(--color-third);
}

/*footer*/
footer {
  /* margin-top: 10rem; */
  flex: 0 0 20%;
}
.prin-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fot-line {
  width: 80%;
  height: 1px;
  margin-bottom: 2em;
  background-color: var(--color-sec);
}
.url-dir {
  text-decoration: none;
  color: var(--color-sec);
  font-weight: 700;
}
.social-net {
  padding-top: 1em;
}
.social-net a {
  padding: 0em 0.5em;
  font-size: 3em;
  color: var(--color-sec);
}
/*-----------------darkmode----------------*/
.dark-mode {
  border: 1px solid black;
  border-radius: 25px;
  width: 60px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 5vw;
}
.dark-mode-cont {
  background-color: blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(0);
  transition: transform 1s ease;
}
.changeDark {
  transform: translateX(20px);
  transition: transform 1s ease;
}
