/*---------------------------------whole document------------------------------------*/
/*typography*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@700&display=swap");
:root {
  --letter-prin: "Montserrat", sans-serif;
  --letter-sec: "Raleway", sans-serif;
}
body {
  font-family: var(--letter-prin);
}

/*---------------------------------MAIN------------------------------------*/
main {
  width: 90vw;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.prin-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--letter-sec);
  font-size: 1.3em;
}
.prin-title > h1 {
  font-size: 1.5em;
  padding: 1em 0;
  font-weight: 700;
}
.prin-title p {
  font-size: small;
  font-style: italic;
  line-height: 1.3em;
}

.prin-options {
  border-bottom: 1px solid red;
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  font-weight: 600;
}
.prin-options p {
  padding-bottom: 0.5em;
  cursor: pointer;
}
.display-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.add-input {
  flex: 0 0 60%;
  border-radius: 10px;
  border: 1px solid red;
  outline: none;
  padding: 0.5em;
}
.add-label {
  border-radius: 10px;
  cursor: pointer;
  flex: 0 0 20%;
  padding: 0.5em 1em;
  background-color: cadetblue;
  text-align: center;
}

.display-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.3em;
  padding: 0 0.5em;
}
.display-info div {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}
.display-info div span label {
  padding: 0 0 0 0.5em;
}
.completed {
  text-decoration: line-through;
}
.selected {
  border-bottom: 3px solid green;
}
